.row {
	display: flex;
	flex-flow: column wrap;

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	&--menu {
		display: none;

		@mixin atMedium{
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	@mixin atMedium {

		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		flex-flow: row wrap;
		align-items: space-around;

		&--testimonials {
			flex-flow: row nowrap;

			& > div {
				display: flex;
			}
		}

		&__33 {
			flex: 1;
		}

		&__66 {
			flex: 2;
			padding-left: 1.5em;
		}

		&__50 {
			flex: 1;
			&:first-child {
				padding-right: 1.5em;
			}
		}


		
	}

	
}