.row {
	display: flex;
	flex-flow: column wrap;

	

	@mixin atMedium {
		flex-flow: row wrap;
		&__33 {
			flex: 1;
		}

		&__66 {
			flex: 2;
		}
		
		&--gutters > div{
			padding-right: 3rem;
		}
	}

	
}