.site-header {
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 10px 0;
	transition: background-color .3s ease-out;

	@mixin atMedium {
		position: fixed;
		background: rgba($mainBlue, .3);

		&--dark {
			background: rgba(23,51,72,.85);
		}
	}

	&__btn-container {
		order: -1;
		@mixin atMedium {
			order: 1;
		}
	}

	&__menu {
		opacity: 0;
		/*transform: scale(1.2);*/
		transition: all .3s ease-out;
		/*z-index: -2;*/
		position: relative;
		padding-top: 90px;
		justify-content: flex-end;
		align-items: center;

		@mixin atMedium{
			opacity: 1;
			/*transform: scale(1);*/
			padding-top: 0;
		}

		&--is-visible {
			opacity: 1;
			/*transform: scale(1);*/
		}
	}

	&__logo {
		/*margin-right: auto;*/
		position: absolute;
		top: 0;
		background: $mainBlue;
		/*padding: 13px 25px;*/
		padding: 25px 36px;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0;
		transition: transform .3s ease-out;

		@mixin atMedium {
			left: auto;
			transform: translateX(0);
			/*padding: 25px 36px;*/

			.site-header--dark & {
				transform: scale(.55);
			}
		}
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		z-index: 2;
		position: absolute;
		top: 10px;
		right: 10px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 3px;
			background: #fff;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			left: 0;
			top: 8px;
			width: 20px;
			height: 3px;
			background: #fff;
			transition: all .3s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 20px;
			height: 3px;
			background: #fff;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&--background {
		background: rgba($mainBlue, .55)
	}

}